name: React app deployement

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: '14.17.6'

    - name: Install packages
      id: install-packages
      run: npm install
    
    - name: Deploy react app to github pages
      id: deploy-react-app
      run: npm run deploy